body{
	margin:0;
	padding: 0;
	background: purple;
	color: #544A40;
	font-family: 'lumoslatinoregular';
}
#paper{
	position: absolute;
	display: block;
	margin-left: 25%;
	width: 50%;
	z-index: 1;
}

#title{
	position: absolute;
	display: block;
	margin-left: 25.2%;
	font-size: 70px;
	letter-spacing: 8.5px;
	z-index: 2;
}

#subs{
	position: absolute;
	display: block;
	margin-left: 26%;
	margin-top: 150px;
	font-size: 30px;
	letter-spacing: 4px;
	z-index: 3;
}

#castle{
	position: absolute;
	display: block;
	margin-left: 20%;
	margin-top: 180px;
	width: 60%;
	z-index: 4;
}

#by{
	position: absolute;
	margin-left: 48%;
	margin-top: 485px;
	font-size: 30px;
	letter-spacing: 5px;
	z-index: 5;
}

#author{
	position: absolute;
	margin-left: 34%;
	margin-top: 540px;
	font-size: 40px;
	letter-spacing: 10px;
	z-index: 6;
}

#illus_by{
	position: absolute;
	font-size: 18px;
	margin-left: 25.5%;
	margin-top: 640px;
	letter-spacing: 5px;
	z-index: 7;
}

#illustrator{
	font-size: 23px;
}

