#burger{
	display: block;
	margin: 0 auto;
	margin-top: 200px;
	min-width: 400px;
	width: 50%;
}

#farms ul li{
	display: inline-block;
}

#farmer_table{
	margin-left: 150px;
	margin-top: 270px;
	padding-top: 210px;
}

#farmer_table div{
	/* Forces divs onto new lines */
	clear: both;

	/* Causes container to wrap contents */
	float: left;
}

#farmer_table p {

}

#menu{
	margin-left: 25%;
	margin-top: 390px;
	padding-top: 210px;
	width: 50%;
	z-index: 1;
}

#slogan{
	color: rgb(223,218,215);
	font-size: 30px;
	margin-left: 25%;
	margin-top: -410px;
	text-shadow: 1px 1px 1px #000000;
	z-index: 2;
}

.about_farmer{
	padding: 10px 0px 0px 150px;
	text-align: left;
}

.farm_name{
	font-size: 30px;
}

.farmer_pic{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	width:160px;
}

.fixed_navbar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.food_pic{
	height: 300px;
	width: 300px;
}

.Social_Media img{
	height: 50px;
	margin-top: 330px;
	padding: 10px;
	width: 50px;
}

.Social_Media li{
	padding: 10px;
}




a#menuplace{
	margin-top: 260px;
}

body{
	background: url("Pics/Wood-planks-long.jpg");
	font-family: 'momstypewriterregular';
	margin:0;
	padding: 0;
	z-index: 20;
}


div#scroller{
	display: inline;
	float: left;
	height: 300px;
	margin-bottom: 470px;
	margin-left: 100px;
	margin-top: 200px;
	white-space: nowrap;
}

h1{
    background-color: rgba(223,218,215,0.5);
    height: 170px;
    margin-top: 20px;
    text-align: left;
    z-index: 19;
}

h3{
	font-size: 15px;
	line-height: 150%;
	margin-top: -150px;
	position: absolute;
	text-align: left;
	z-index: 4;
}

li{
	float: left;
}

main{
	float: left;
	position: relative;
}

nav ul{
	margin-left: 450px; /*I'm constantly aligning text by hand -- is there a better way to do this?*/
	margin-top: -80px;
	position: relative;
	z-index: 4;
}

nav ul li {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 3px;
	padding: 20px;
    text-decoration: none;
}

nav ul li a{
	color: black;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}