body{
	margin:0;
	padding: 0;
	background: url("Pics/Petals_Filter.jpg");
	z-index: 20;
}

#name{
	position: relative;
	margin-left: 50px;
	font-family: 'Dancing Script', cursive;
	letter-spacing: 0px;
	text-align: left;
	font-size: 40px;
	letter-spacing: -1px;	
	color: #164E0C;
    text-shadow: 2px 2px 2px #CED8F5;
	width: 100%;
}



nav{
	height: 0px;
    background-color: rgba(42,58,156,0.5);
    padding: 30px 10px 57px;
    margin-bottom: 50px;
}

nav ul {
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 0px 40px 100px;
	font-family: 'museo300';
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 35px;
	color: #CED8F5;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

nav ul li a{
	color: #CED8F5;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

main {
    width: 100%;
    height: 220px;
    background-color: rgba(42,58,156,0.5);
    padding: 20px 10px;
    margin-bottom: 50px;
}

#mel_face {
    float: left;
    margin-left: 50px;
    width: 220px;
}

#aboutme {
    float: left;
    width: 65%;
    font-family: 'museo300';
    text-align: left;
    margin-left: 40px;
    margin-top: 5px;
    font-size: 25px;
    color: #CED8F5;
    text-shadow: 1px 1px 1px #000000;
    line-height: 120%;
    background-color: rgba(42,58,156,0);
}

footer{
	height: 70px;
	background-color: rgba(42,58,156,0.5);
	padding: 20px 10px;
	bottom:0;
	width:100%;
	margin-bottom: 20px;
}



#Mel_Links img{
	height: 40px; /*Size of the images*/
}




#Mel_Links li{
	float: right;
	margin-right: 30px;
	display: inline; /*This makes the list horizontal rather than vertical with bullet points*/
	padding: 3px;	/*This is how much space is in between each list item, but I don't understand how it is different than the padding for Mel_Links a */
}
