body{
	margin:0;
	padding: 0;
	background: url("Pics/chalkboard6.jpg");
	z-index: 20;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	z-index: 0;
}

#first{
	font-size: 50px;
}

#rest{
	font-size: 43px;
}

#navbar{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	text-align: center;	
}

#navbar li{
	display: inline; 
	padding: 20px;	
}

#navbar a{
	display: inline-block; 
	text-decoration: none;
	color: #a46b8e;
}

#Mel_Links{
	position: fixed; 
	bottom: 0px; 
	right: 0px;
}

#git{
	position: fixed; 
	bottom: 10px; 
	right: 115px;
}
#linkedin{
	position: fixed; 
	bottom: 10px; 
	right: 75px;
}
#SI{
	position: fixed; 
	bottom: 15px; 
	right: 40px;
}
#airbnb{
	position: fixed; 
	bottom: 10px; 
	right: 5px;
}

#Mel_Links img{
	height: 40px; 
}

img#SI{
	height: 33px; 
}

#Mel_Links li{
	display: inline; 
	padding: 3px;	
}

#resume{
	width: 55%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



