body{
	margin:0;
	padding: 0;
	background: url("Pics/Petals_Filter.jpg");
	z-index: 20;
}

nav{
	height: 230px;
	width: 102%;
    background-color: rgba(42,58,156,0.5);
    padding: 20px 0px;
    margin-top: 20px;
}

#name{
	width: 100%;
	margin-left: 20px;
	margin-top: -30px;
	font-family: 'Homemade Apple', cursive;
	font-size: 60px;
	letter-spacing: -1px;	
	color: #C42021;
    text-shadow: 1px 1px 1px #323758;
}

p#name {
    margin-bottom: -70px;  
}

nav ul{
	margin-left: -40px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
	font-family: 'museo300';
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 30px;
	color: #CED8F5;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

nav ul li a{
	color: #CED8F5;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100px;
    background-color: rgba(42,58,156,0.5);
    padding: 20px 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#resume{
	width: 55%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -200px;
}

footer{
	height: 70px;
	background-color: rgba(42,58,156,0.5);
	padding: 20px 10px;
	width:100%;
	margin-bottom: 20px;
}

footer ul{
	margin-right: 10px;
}

#Mel_Links img{
	height: 40px; /*Size of the images*/
}

#Mel_Links li{
	float: right;
	display: inline-block; /*This makes the list horizontal rather than vertical with bullet points*/
	padding: 10px;	/*This is how much space is in between each list item, but I don't understand how it is different than the padding for Mel_Links a */
}




